nav {
  background-color: #04091f;
  border-bottom: 0.02px solid #e9e9ee;
  padding-left: 10rem;
  color: white !important;
}
nav a{color: white}
nav a:active{
  border: 1px solid white;
}
.landingPage{
  color: white !important;
  background-color: #04091f;
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
  }
.landing-image{
  margin-top: -2rem;
  width: 100% !important;
}
.meetXrole{
  font-family: 'Exo', sans-serif;
  font-size: 2rem;
  margin-top: 2rem;
  /* margin-left: 2rem; */
}
.navbar-toggler{
  background-color: #28a745 !important;
}
.web-icon{
  width: 30%;
  margin-left: 5rem;
}
.serviceContainerFluid{
  margin-top: -3rem;
  background-color: white;
  }
.serviceContainer{
  background-color: white;
  padding: 3rem 5rem !important;
}
.educationRow{
  margin-top: 2rem
}
.parallax { 
  background-image: url('./src-images/parallax.jpg');
  height: 200px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parralaxText{
  font-family: 'Exo', sans-serif;
  font-size: 2rem;
  margin-top: 5rem;
  text-align: center;
  color: white;
}
.projectRow{
  justify-content: space-around;
}
.projectCard{
  margin-top: 3rem;
  width:20rem;
  }
@media (min-width: 576px) { 
  .meetXrole{
    /* margin-top: 0rem; */
  }
}
@media (min-width: 992px){
  .navbar-nav{padding-left: 600px}
  .nav-link{
    padding-right: 1.6rem !important;
    padding-left: 1.6rem !important;
  }
  .navbar-brand{
    margin-left: 6rem;
  }
  .meetXrole{
    margin-top: 7rem;
  }
  .landing-image{
    margin-top: -2rem;
    width: 90% !important;
  }
  .web-icon{
    width: 30%;
  }
}
