/* GLOBAL STYLING */
.row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* ============================================= MOBILE STYLING */
nav {
  background-color: #04091f;
  border-bottom: 0.02px solid #e9e9ee;
  padding-left: 10rem;
  color: white !important;
}
nav a{color: white}
nav a:active{
  border: 1px solid white;
}
.landingPage{
  color: white !important;
  background-color: #04091f;
  padding: 3rem 1rem 0rem 2.5rem !important;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  }
  .meetXrole{
    font-family: 'Exo', sans-serif;
    font-size: 1.4rem;
    margin-top: 2rem;
    /* margin-left: 2rem; */
  }
.landing-image{
  margin-top: -2rem;
  width: 100% !important;
}
.navbar-toggler{
  background-color: rgb(252, 102, 0) !important;
}
.web-icon{
  width: 35%;
  margin-left: 5rem;
}
.serviceContainerFluid{
  margin-top: -3rem;
  background-color: white;
  }
.serviceContainer{
  background-color: white;
  padding: 3rem 2rem !important;
}
.educationRow{
  margin-top: 2rem
}
.parallax { 
  background-image: url('./src-images/parallax.jpg');
  height: 200px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parralaxText{
  font-family: 'Exo', sans-serif;
  padding: 0 1rem;
  font-size: 1.5rem;
  margin-top: 5rem;
  text-align: center;
  color: white;
}
.projectContainerFluid{
  padding-bottom: 1.5rem !important;
}
.projectRow{
  justify-content: space-around;
}
.projectCard{
  margin-top: 2rem;
  width:20rem;
}
.hireme{
  background-color: #04091f;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 4rem !important;
  padding-top: 2rem !important;
}
.hiremeForm{
  color: white;
  margin: 1rem 3rem 1rem 3rem;
  font-family: 'Exo', sans-serif;
  font-size: 1.2rem;
  padding-bottom: 1rem !important;

}
.hiremeHeader{
  color:#28a745;
  font-family: 'Exo', sans-serif;
  font-size: 2rem;
  
}
input {
  background-color: transparent;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
}
textarea{
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
}
.hirmeButton {
  background-color: #28a745 !important;
  border-color: #28a745;
 }
 .webNumberAddress{
   color: white;
   border-bottom: 1px dotted #28a745;
   width: 200px;
   font-size: 1.2rem;
   margin-top: 2rem;
   margin-left: 3rem;
 }
.webNumberAddress-contents{
  color: white;
  font-size: 0.8rem;
  margin-left: 3rem;
  line-height: 0.5rem;
}
.footerContainerFluid{
  color: white;
  background-color: #04091f;
  border-top: 1px dotted white;
}
.footerText{
margin: 1rem auto !important;
}
.footericon{
  margin: 1rem auto;
  text-align: center;
  font-size: 1.5rem !important;
  color: white !important;
}
.footericon a{
  color: white !important;
}
/*=============================================================== DESKTOP  */
@media (min-width: 992px){
  .landingPage{
    clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
    padding: 0;
  }
  .meetXrole{
    font-size: 2rem;
    margin-top: 2rem;
  }
  .serviceContainer{
    padding: 3rem 5rem !important;
  }
  .parralaxText{
     font-size: 2rem;
  }
  .projectContainerFluid{
    padding-bottom: 5rem !important;
  }
  .projectCard{
    margin-top: 5rem;
    width:23rem;
  }
  .projectRow{
    justify-content: space-between;
  }
  .webNumberAddress{
    width: 200px;
    margin-left: 5rem;
  }
  .webNumberAddress-contents{
    color: white;
    font-size: 0.8rem;
    margin-left: 3rem;
    line-height: 0.5rem;
  }
  .hireme{
    padding-bottom: 1.5rem !important;
  }

  .navbar-nav{padding-left: 600px}
  .nav-link{
    padding-right: 1.6rem !important;
    padding-left: 1.6rem !important;
  }
  .navbar-brand{
    margin-left: 6rem;
  }
  .meetXrole{
    margin-top: 7rem;
  }
  .landing-image{
    margin-top: -2rem;
    width: 90% !important;
  }
  .web-icon{
    width: 30%;
  }
}
